.Weather {
  background: #e3f2fd;
  border: 1px solid #0d47a1;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 30px auto;
  margin-bottom: 10px;
  padding: 20px;
  font-family: sans-serif;
}
.Weather h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin: 0;
  margin-top: 15px;
  margin-right: 10px;
}
.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
  position: relative;
  bottom: 10px;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -40px;
}
.form-control {
  border: 1px solid #0d47a1;
  background: #fff;
  border-radius: 3px;
  line-height: 30px;
}
